<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>msauthv2</string>
		<string>msauthv3</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Приложению требуется доступ к микрофону для записи аудио.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Приложению требуется доступ к распознаванию речи для real-time транскрипции.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>ru.poscredit.Vanta-Speech.background-processing</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>voip</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>bluetooth-peripheral</string>
	</array>
</dict>
</plist>
